.isSaving {
    display: flex;
    align-items: center;
    justify-content: center;
}

.isSaved {
    color: rgb(104, 179, 104);
}

.isNotSaved {
    color: red;
}

.container {
    /* TODO: correct height width and center childs */
    display: flex;
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    border: 1px solid rgb(96, 94, 92);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    cursor: default;
}

.container p {
    margin: 0;
    height: inherit;
    font-size: 25px;
}

.icon {
    font-size: 25px;
}