.isSaving {
    color: white;
    /* background-color: green; */
}

.isSaved {
    color: rgb(104, 179, 104);
    /* background-color: green; */
}

.isNotSaved {
    color: white;
    /* background-color: red; */
}

.container {
    min-height: 5vh;
    max-height: 5vh;
}