.isSaving {
    color: white;
    /* background-color: green; */
}

.isSaved {
    color: rgb(104, 179, 104);
    /* background-color: green; */
}

.isNotSaved {
    color: white;
    /* background-color: red; */
}

.container {
    /* TODO: correct height width and center childs */
    min-height: 5vh;
    max-height: 5vh;
    min-width: 7vw;
    max-width: 7vw;
    height: 5vh;
    width: 5vh;
    border-radius: 5px;
    border: white solid 2px;
    align-items: center;
    text-align: center;
    margin-top: auto;
}