.ckEditor {
  color: black;
  min-height: 4000px;
}

.content {
  padding: 10pt;
  overflow-x: hidden;
}

.nameAndSaveIndicator {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto min-content;
  grid-column-gap: 4px;
  margin-bottom: 3px;
}

.titleText {
  padding-bottom: 3px;
}

.savingIndicator {
  margin: 0;
  padding: 0;
  background-color: green;
}

.centerScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: inherit;
  max-width: 100vw;
  overflow: hidden;
}

.sharedPicker {
  background-color: rgb(255, 255, 255);
}