.content {
  padding: 10pt;
  color: black;
  border-bottom: 2px solid;
}

.content h1 {
  margin: 0;
}

.content h2 {
  margin: 0;
}

.contentSection {
  padding: 10pt 0;
  border-bottom: 1px solid;
}

.contentSection:last-of-type {
  border-bottom: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}