.contentOne {
  padding: 8pt;

}

.ckEditor {
  color: black;
  min-height: 4000px;
}

.previewLine h1 {
  font-size: 13pt;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin: 0;
} 

.previewLine h2 {
  font-size: 12pt;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin: 0;
} 

.previewLine h3 {
  font-size: 12pt;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin: 0;
} 